.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.post {
    margin: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;;
    padding: 5px 10px;

    .title {
        font-weight: 600;
        margin-bottom: 5px;
    }
}
